rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /grupo/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /votaciones_pasadas/{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
